/* 
=============
Variables
=============
*/
:root {
  --primaryColor: #f15025;
  --mainBlack: #222;
  --offWhite: #fff;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.2rem;
  --lightShadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --darkShadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
/* 
==============
Global styles
==============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fira Code", monospace;
  color: var(--mainBlack);
  background: var(--offWhite);
  line-height: 1.5;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.25rem;
}
h2 {
  margin-bottom: 0;
}
p {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2;
}
/* button */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border: 3px solid var(--primaryColor);
  color: var(--primaryColor);
  margin: 3rem 5rem;
  transition: var(--mainTransition);
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--offWhite);
}
/* 
==============
Main Navbar
==============
*/
.main-navbar {
  background: var(--darkGrey);
  padding: 0 2rem;
}
.main-navbar a {
  text-transform: capitalize;
  display: block;
  padding: 1rem 0;
  color: var(--primaryColor);
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}
.main-navbar a:hover {
  color: var(--mainBlack);
}
@media screen and (min-width: 992px) {
  .main-navbar ul {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* justify-items: center; */
  }
  .main-navbar a {
    text-align: center;
  }
}
/* 
==============
Hero
==============
*/
.hero {
  height: 100vh;
  background: var(--primaryColor);
  display: grid;
  justify-content: center;
  align-content: center;
}
.hero-banner {
  /* text-align: center; */
  padding: 2rem;
  color: var(--offWhite);
}
.hero-banner h1 {
  font-size: 3rem;
}
.hero-banner p {
  max-width: 35rem;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(rgba(255, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("./images/size-image-2.jpeg") center/cover no-repeat fixed;
  }
  .hero-banner h1 {
    font-size: 4rem;
  }
}
/* 
==============
Cards
==============
*/
.cards {
  padding: 4rem 0;
}
.title {
  text-align: center;
}
.cards-center {
  /* border: 2px solid red; */
  width: 80vw;
  max-width: 1170px;
  margin: 2rem auto;
}
.card {
  border: 1px solid var(--darkGrey);
  margin-bottom: 3rem;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.card:hover {
  box-shadow: var(--darkShadow);
  transform: scale(1.02);
}
.card-info {
  padding: 1rem;
}
.card-info h2 {
  margin-bottom: 1rem;
}
.card-footer {
  background: var(--darkGrey);
  padding: 0.5rem 1rem;
  color: var(--primaryColor);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

/* three column using media queries  */

/* @media screen and (min-width: 768px) {
  .cards-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 1170px) {
  .cards-center {
    grid-template-columns: repeat(3, 1fr);
  }
} */

/* three and four column using grid auto-fill/auto-fit property  */
.cards-center {
  display: grid;
  column-gap: 2rem;
  /* 3 column layout  (1170 - 64)/3 = 368.67*/
  /* grid-template-columns: repeat(auto-fit, minmax(368.67px, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(368.67px, 1fr));

  /* 4 column layout  (1170 - 96)/4 = 268.5*/
  grid-template-columns: repeat(auto-fill, minmax(268.5px, 1fr));
}
@media screen and (min-width: 1170px) {
  .cards-center {
    width: 100%;
  }
}

/* If content in cards are diffrent, the card shape will look ugly. To fix that make every card a grid and decide some row height for its content. */
.card {
  /* height: 35rem; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
/* 
==============
Tiles
==============
*/
.tiles {
  padding: 4rem 0;
}
.tiles-center {
  width: 90vw;
  max-width: 1170px;
  margin: 2rem auto;
  display: grid;
  row-gap: 2rem;
}
@media screen and (min-width: 768px) {
  .tiles-center {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .tiles-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1170px) {
  .tiles-center {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 200px);
    grid-template-areas:
      "a a a b"
      "a a a c"
      "d d d d"
      "e f f f"
      "e g h i";
  }
  .tiles img {
    height: 100%;
    object-fit: cover;
  }
  .tile-1 {
    grid-area: a;
  }
  .tile-2 {
    grid-area: b;
  }
  .tile-3 {
    grid-area: c;
  }
  .tile-4 {
    grid-area: d;
  }
  .tile-5 {
    grid-area: e;
  }
  .tile-6 {
    grid-area: f;
  }
  .tile-7 {
    grid-area: g;
  }
  .tile-8 {
    grid-area: h;
  }
  .tile-9 {
    grid-area: i;
  }
}
/* 
==============
Layouts
==============
*/
.header {
  background: var(--primaryColor);
  color: var(--offWhite);
  text-align: center;
  padding: 0.5rem 0;
}
.navbar {
  background: var(--darkGrey);
}
.navbar a {
  padding: 0.5rem 1rem;
  display: inline-block;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  transition: var(--mainTransition);
}
.navbar a:hover {
  color: var(--offWhite);
}
.content {
  padding: 2rem;
  overflow: auto;
}
.content p {
  font-size: 1rem;
}
.icons {
  background: var(--primaryColor);
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  color: var(--offWhite);
  font-size: 1.2rem;
}
.footer {
  background: var(--mainBlack);
  color: var(--offWhite);
  text-align: center;
  padding: 0.5rem 0;
}
.footer p {
  font-size: 1.2rem;
}
.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto auto;
}
@media screen and (min-width: 768px) {
  .navbar ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
}
@media screen and (min-width: 992px) {
  .main {
    grid-template-columns: [start] 200px [col-1-end] auto [col-2-end] 50px [end];
    grid-template-rows: [start] 4rem [row-1-end] auto [row-2-end] 3rem [end];
  }
  .header {
    grid-column: start/end;
    grid-row: start/row-1-end;
  }
  .navbar {
    grid-column: start/col-1-end;
    grid-row: row-1-end/row-2-end;
  }
  .content {
    color: rgb(249, 125, 42);
    color: var(--offWhite);
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("./images/size-image-4.jpeg") center/cover no-repeat fixed;
    grid-column: col-1-end/col-2-end;
    grid-row: row-1-end/row-2-end;
  }

  .icons {
    grid-column: col-2-end/end;
    grid-row: row-1-end/row-2-end;
  }
  .footer {
    grid-column: start/end;
    grid-row: row-2-end/end;
  }
  .navbar ul {
    /* display: grid; */
    grid-template-columns: 1fr;
    align-items: center;
    height: 100%;
  }
  .icons {
    grid-template-columns: 1fr;
    align-items: center;
    background: var(--darkGrey);
  }
}
